body {
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    color: black;
    /* font-size: 1.4rem; */
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: inherit;
}

h1, p {
    text-align: center;
}

a:focus, a:hover {
    text-decoration: none;;
    color: #660066;
}

.container {
    width: 100%;
}

.headBarContainer {
    padding: 0px 15px;
    background-image: url(../Images/SpaceHeaderMobile.png);
	background-repeat: no-repeat;
	height:100px;
}

.headBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

header {
    background-color: #111;
}

.flexItem1 {
    flex-basis: 15%;
}

.flexItem2 {
    flex-basis: 70%;
    box-sizing: border-box;
}

.flexItem3 {
    flex-basis: 15%;
}

nav {
    display: block;
}

nav ul {
    padding: 0px;
    margin: 0px;
}

span.burgerMenu {
    font-size: 35px;
    float: right;
    color: #660066;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 16;
    top: 0;
    right: 0;
    background-color: #272727;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 25px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
	text-shadow: 2px 2px black;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav nav ul:nth-child(1) {
    padding-top: 20px;
}

.pageCheck {
    background-color: #660066;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    color: #660066;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.contentWrapper {
    flex: 1;
}

#stickyBar {
    display: none;
}

.userColor {
    color: white;
    font-size: 3.0rem;
    position: relative;
    top: 11px;
}

.dropdown-menu {
    top: 133%;
}

.pageWrapper {
    margin: 15px 15px 15px 15px;
}

.websiteTitle {
    font-size: 2.8rem;
	text-shadow: 4px 4px black;
    margin: 0;
    color: white;
}

.websiteSubtitle {
    font-size: 1rem;
	text-shadow: 2px 2px black;
    margin: 0px;
    color: white;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex-item {
    flex-basis: 100%;
    background-color: #660066;
    border-radius: 10px;    
    padding: 20px;
    margin: 20px;
}

.eventImg {
    width: 100%;
    border-radius: 10px;
}

.flex-item:hover {
    box-shadow: #88abfd 0px 0px 10px 0px;
    opacity: 0.7;
}

.flex-item:hover > .eventTitle {
    color: #2c5cca;
}

.eventTitle {
    font-size: 2rem;
    color: #d6e9c6;
}

.eventHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 530px) {
    .eventPicture {
        width: 100%;
    }
}

.eventDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    -webkit-box-flex: 1;
    margin-left: 15px;
    margin: 20px;
    text-align: center
}

.eventDetails h6, h3, h5 {
    margin: 0;
}

h3 {
    color: #660066;
    text-align: center;
    margin: 20px 0 20px 0;
}

.title {
    color: #660066;
    margin: 0;
    text-align: center;
}

#carousel-caption h4 {
    color: white;
	text-shadow: 2px 2px black;
}

.eventDetailsPara {
    margin-top: 20px;
}

.eventDetailsPara p {
    text-align: justify;
}

.showsContainer {
    width: 100%;
    margin: auto;
    box-shadow: #778094 0px 0px 10px 0px;
    border-radius: 3%;
    margin-bottom: 20px;
}

.test {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.showsItem {
    width: 100%;
    border-top: 1px solid #778094;
    border-bottom: 1px solid #778094;
    display: flex;
    padding: 20px;
}

.showText {
    font-size: 1.5rem;
    color: #393f4d;
}

.showDate {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;
}

.dateNo {
    font-size: 3rem;
    color: #660066;
}

.highlightedText {
    color: #660066;
}

.showDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    -webkit-box-flex: 1;
}

#googleMap {
    height: 50vh;
}

.mapCarParkContainer {
    display: flex;
    flex-direction: column;
}

.btnStandard {
    background-color: #660066;
    color: #fdfdfd;
    border-radius: 10px;
}

.btnStandard:hover {
    background-color: #fdfdfd;
    color: #660066;
}

.btnInverted {
    background-color: #fdfdfd;
    color: #660066;
    border-radius: 10px;
}

.btnInverted:hover {
    background-color: #660066;
    color: #fdfdfd;
}

input[disabled] {
    background-color: #993231;
    color: #d6e9c6;
}

input[disabled]:hover {
    background-color: #993231;
    color: #d6e9c6;
}

.button {
    background-color: #660066;
    color: #fdfdfd;
}

.button:hover {
    background-color: #fdfdfd;
    color: #660066;
}

.requiredField {
    color: red;
}

.soldOut {
    color: #993231;
}

#searchFiltersTab {
    margin: auto;
    margin-top: 20px;
    width: calc(100% - 40px);
}

#searchFilters {
    margin: auto;
    width: calc(100% - 40px);
}

#searchFilters label {
    display: none;
}

.filter {
    margin: 20px 0;
}

#dots {
    margin-bottom: 20px;
}

.requiredFieldBtn {
    color: #fcfcfc;
}

.inputBox {
	flex-basis: 100%;
	display: flex;
	margin: 11px 0px;
}

.text {
    margin-left: 5%;
    margin-right: 5%;
    border-top: 1px solid #660066;
    border-bottom: 1px solid #660066;
    padding: 15px 0px;
    width: 100%;
}

.text p {
    text-align: justify;
    text-align-last: center;
}

.indexHeader p {
    margin-bottom: 20px;
}

.text h1 {
    text-align: center;
}

.whiteBackground {
    display: flex;
}

input, textarea  {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Century Gothic', Helvetica, Arial, sans-serif;
}

textarea[id=message]
{
    padding:10px 10px 15vh;
    resize: vertical;
}

.contactName {
    display: flex;
    box-sizing: border-box;
    flex-basis: 100%;
}

.inputBox {
	flex-basis: 100%;
	display: flex;
	margin: 11px 0px;
}

.modalForm form {
    margin: 0px;
}

.createAccountLink {
    text-align: center;
}

footer {
    background-image: url(../Images/SpaceHeaderMobile.png);
    background-repeat: no-repeat;
    border-top: solid 1px #660066;
    text-align: center;
    box-shadow: #660066 0px 0px 10px 0px;
    background-color: #111111;
    color: white;
    padding: 20px;
}

.carParkName {
    font-weight: bold;
}

/* Slideshow CSS */

#featuredEventsCarousel {
    width: calc(100% - 40px);
    margin: auto;
}

.slideshowImg {
    margin: auto;
}

/* Modal CSS */

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #660066;
    color: white;
}

/* Modal Close Button */
.close {
    color: white;
}

.close:hover {
    color: whitesmoke;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    width: 100%;
    margin: auto;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    color: white;
    text-align: center;
}

/* Test */

  

    html.modal-active, body.modal-active {
      overflow: hidden; 
    }
  
  #modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1; }
    #modal-container.modalBtn {
      transform: scaleY(0.01) scaleX(0);
      animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.modalBtn .modal-background .modal {
        transform: scale(0);
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.modalBtn.out {
        transform: scale(1);
        animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.modalBtn.out .modal-background .modal {
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container .modal-background {
      display: table-cell;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      vertical-align: middle; }
      #modal-container .modal-background .modal {
        background: white;
        width: 85%;
        display: inline-block;
        border-radius: 3px;
        font-weight: 300;
        position: relative; }
        #modal-container .modal-background .modal h2 {
          font-size: 25px;
          line-height: 25px;
          margin-bottom: 15px; }
        #modal-container .modal-background .modal p {
          font-size: 18px;
          line-height: 22px; }
        #modal-container .modal-background .modal .modal-svg {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border-radius: 3px; }
          #modal-container .modal-background .modal .modal-svg rect {
            stroke: #fff;
            stroke-width: 2px;
            stroke-dasharray: 778;
            stroke-dashoffset: 778; }
  
  .content {
    position: relative;
    z-index: 0; }
    .content h1 {
      padding: 75px 0 30px 0;
      text-align: center;
      font-size: 30px;
      line-height: 30px; }
    .content .buttons {
      max-width: 800px;
      margin: 0 auto;
      padding: 0;
      text-align: center; }
      .content .buttons .button {
        display: inline-block;
        text-align: center;
        padding: 10px 15px;
        margin: 10px;
        font-size: 13px;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        cursor: pointer; }
  
  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0); }
    50% {
      transform: scaleY(0.005) scaleX(1); }
    100% {
      transform: scaleY(1) scaleX(1); } }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1); }
    50% {
      transform: scaleY(0.005) scaleX(1); }
    100% {
      transform: scaleY(0.005) scaleX(0); } }
  @keyframes zoomIn {
    0% {
      transform: scale(0); }
    100% {
      transform: scale(1); } }
  @keyframes zoomOut {
    0% {
      transform: scale(1); }
    100% {
      transform: scale(0); } }
  